﻿/*  .class  #id  */
/*CSS from New.Master
uses nav* (NJumbotron, NLeftHead etc.)*/
body{
    background-color:#538AA1;
    padding-left: 15px;
    padding-right: 15px;
}

div#logo{
   height: 61px;
   background-image: url('../Resources/Flytze-logo.png');
   background-repeat: no-repeat;
   background-size:cover;
   width: 260px;
   margin-left:15px;
   top: 20px;
   position: absolute;

}

div#TagLine{
    color:black;
    font-variant: small-caps;
    font:gidole;
    font-size: 13px; 
    margin-left:3px;
    position: absolute;
    top: 81px;
}

.Topnavbar{
   height: 75px;
   background-repeat: no-repeat;
   background-size:cover;
   position: inherit;
   border:double;
}

.Nav{
    background-color:green;
    float:right;
    /*display:inline;*/
}

/*.Nav ul{
    background-color:red;
}*/
.Nav li {
  display: inline;
  background-color: #538AA1;
  border-color:aliceblue;
  border-width:medium;
  padding-top: 1px;
  font-size:100px;
}
.Nav a {
  color: #5a5a5a;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  border:groove;
  /*height: 5px;*/
  padding:7px 7px 7px 7px;
  background-color: red;
  position:inherit;
}



div#Nav ul {
}
.username{
    color: white;
}

.LogOutLink{
    padding: 0px 10px 10px 10px;
}

.LoginLogout{
    padding-top: 1px;
    padding-left: 30px;
}
.LoginLogout li {
  color: #5a5a5a;
  font-size: 10px;
  font-weight: bold;
  padding: 0px 0px 0px 0px;
  text-transform: uppercase;
}
.LoginLogout ul{
    padding-right: 20px;    
}
.LoginLogout a {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 0px 3px 0px 0px;
}
.LoginLogout p {
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding-right: 15px;
        padding: 0px 10px 10px 10px;
        top:-50px;
}

/*div#BodyTorso {
    background-color:#538AA1;
}*/



/*Example of Overriding Master CSS*/
div#LeftHeadidInContent {
    color: green;
}

.Njumbotron {
    background-image: url('../Resources/MultiCloudsLeftOpen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100px;
    font-style: italic;
    font-size: 20px;
    width: auto;
    margin-left: 0px;
}

.Njumbotron h1 {
  color: whitesmoke;
  font-size: 28px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
  /*margin-left: 280px;*/
  backface-visibility:visible;
}

.Njumbotron p {
  font-size: 15px;
  color: #fff;
  font-style: italic;
    margin-left: 40px;
}
@media screen and (min-width: 768px) {
  .Njumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .otron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .Njumbotronjumbotron h1 {
    font-size: 63px;
  }
}


.Workspace {
  background-color: #f7f7f7;
  padding-left: 20px;
  padding-bottom: 30px;
  padding-top: 110px;
  top:10px;
}
 

.Workspace h3 {
  font-family: 'Shift', sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-variant-caps: all-petite-caps;
  color: #538AA1;
  margin-top:10px;
}

.Workspace p {
  color: #043b6b;
  font-size:14px;
  font-weight: 100;
  padding-left: inherit;
}

.Workspace a {
  color: #00b0ff;
  font-style:italic;
}

/*.Workspace .row .ContentContainer {
  border:inset;
  border-color: white;
  height:600px;
}*/

#TableEditAllPlanes {
  color: #043b6b;
  font-size:14px;
  font-weight: 100;
  padding-left: inherit;
}

.TableTitles td {
  color: #043b6b;
  font-size:15px;
  font-weight:bold;
  padding-left: inherit;
}



/*used to set different parag fonts*/
.LargeFont{
  color: #043b6b;
  font-size:15px;
  font:bold;
}   

.LargeFont a #show #hide{
      color: #043b6b;
  font-size:15px;
  font:bold;
}

.LargeFont #show{
      color: #043b6b;
  font-size:15px;
  font:bold;
}

/*used to set different parag fonts*/
.SmallFont {
    font-size:12px;
    color:#043b6b;
    font-weight:100;
}
.SmallFont p {
    font-size:12px;
    color:#043b6b;
    font-weight:100;
}

.SmallFont tr {
    font-size:12px;
    color:#043b6b;
    font-weight:100;
}


.radioButtons li{
    display: inline;
    text-decoration-color: aqua;
}

.radioButtons p{
    display: inline;
}

.radioButtons ul{
    display: inline;
}

.Radios  {
    font-family: 'Shift', sans-serif;
    color: #043b6b ;
    font-size:12px;
    font-weight: 100;
}

.Radios input[type="radio"] {
    width: auto;
}

.Radios label {
    display: inline;
}

inline-rb input[type="radio"] {
    width: auto;
}

.inline-rb label {
    display: inline;
}

#RadioButtonListTest
{
  vertical-align:super;  
  margin-top: -1px;
 
  color: #043b6b;
  font-size:14px;
  font-weight: 100;
}

.ListItem{
  color: #043b6b;
  font-size:14px;
  font-weight: 100;
}

#Checkit  {
    display:inline;
}

.footer {
    padding-bottom: 30px;
}

@media all and (max-width: 480px) {
  div#logo { display: none; }
}



.LoginLogout a:hover{
    background-color:red;
}