﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="4Column.Master.cs" Inherits="SimplePortal.MasterPages.FourCols"%>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <link rel="stylesheet" href="~/Content/New3.css" />
    <asp:ContentPlaceHolder runat="server" ID="HeadContent" />
    <title><%: Page.Title %> </title>
    <webopt:BundleReference runat="server" Path="~/Content/css" />
</head>
<body>
    <form runat="server">
    <asp:ScriptManager runat="server">
        <Scripts>
            <%--Framework Scripts--%>
            <asp:ScriptReference Name="MsAjaxBundle" />
            <asp:ScriptReference Name="jquery" />
            <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
            <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
            <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
            <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
            <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
            <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
            <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
            <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
            <asp:ScriptReference Name="WebFormsBundle" />
            <%--Site Scripts--%>
        </Scripts>
    </asp:ScriptManager>

<header>
<div class="Topnavbar navbar-inverse navbar-fixed-top">
<%--    <div class="Navigate" id="NavigateId">--%>
            <%--<div class="LoginLogout">--%>
                <div class="pull-right Navigate LoginLogout">
                <section id="login">
                    <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul>
                                <li><a id="registerLink" runat="server" href="~/Account/Register.aspx">Register</a></li>
                                <li><a id="loginLink" runat="server" href="~/Account/Login.aspx">Log in</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                            <p>
                                Hello, <a runat="server" class="username" href="~/Account/Manage.aspx" title="Manage your account">
                                    <asp:LoginName runat="server" CssClass="username" /></a>!
                                    <asp:LoginStatus id="LogOut" runat="server" onloggingout="LogOut_LoggingOut"></asp:LoginStatus> 
                        </p>
                        </LoggedInTemplate>
                        
                    </asp:LoginView>
           </section>
            </div>
<%--            </div>--%>
         <%--</div>--%>

        <div id="NavView" runat="server">
               <div class="Nav">
                    <ul class="pull-right" runat="server">
                        <li><a runat="server" id="DeveloperWallTest" href="../DeveloperArea/ExchangeRatesPage.aspx">Wall Test</a></li>
                        <li><a runat="server" id="AdminMaintainMO" href="../AdminArea/MOMaintenance.aspx">Maintain MO</a></li>
                        <li><a runat="server" id="AdminUserAdmin" href="../AdminArea/UserAdministration.aspx">Manage Users</a></li>
                        <li><a runat="server" id="WinnerFees" href="../WinnerArea/OperatorFeeMaint_4Col.aspx">Winner Costs</a></li>
                        <li><a runat="server" id="SecondFBOFees" href="../SecondFBOArea/SecondFBO.aspx">SecondFBO Costs</a></li>
                    </ul>
                </div>
            </div>

    <%--<div id="BodyTorso">--%>
        <%--<div class:"content-wrapper">--%>
        <div class="float-left">
            <div id="logo"></div>
            <div id="TagLine">
                Take Control. Take Adventures. Take Flytze.
            </div> 
        </div>
        <div class="Njumbotron">
            <h1><asp:ContentPlaceHolder ID="Njumbotron" runat="server" /></h1>             
        </div>
        <%--</div>--%>
        <%--</div>--%>
</div>
</header>



    <div class="Workspace">
      <%--<div class="WorkspaceTitles">--%>
		<div class="row">
          <div class="col-md-3 ContentContainer">
             <h3><asp:ContentPlaceHolder runat="server" ID="Head1" >
                 </asp:ContentPlaceHolder></h3>
             <asp:ContentPlaceHolder runat="server" ID="Parag1" >
             </asp:ContentPlaceHolder>
          </div>                       
          <div class="col-md-3 ContentContainer"> 
            <h3><asp:ContentPlaceHolder runat="server" ID="Head2" /></h3>
            <asp:ContentPlaceHolder runat="server" ID="Parag2">
            </asp:ContentPlaceHolder>
		  </div>
		  <div class="col-md-3 ContentContainer">
			<h3><asp:ContentPlaceHolder runat="server" ID="Head3" /> </h3>
            <asp:ContentPlaceHolder runat="server" ID="Parag3">
              </asp:ContentPlaceHolder>
		  </div>
          <div class="col-md-3 ContentContainer">
			<h3><asp:ContentPlaceHolder runat="server" ID="Head4" /> </h3>
            <asp:ContentPlaceHolder runat="server" ID="Parag4">
              </asp:ContentPlaceHolder>
		  </div>
	</div>
    </div>

    <footer>
        <div class="content-wrapper">
            <div class="footer">
            <div class="float-left">
                <p>&copy; <%: DateTime.Now.Year %> - Flytze LLC</p>
            </div>
            </div>
        </div>
    </footer>
    </form>
</body>
</html>
