﻿<%@ Page Title="" Language="C#" MasterPageFile="~/MasterPages/GoodMenu.Master" AutoEventWireup="true" CodeBehind="testthendelete.aspx.cs" Inherits="SimplePortal.testthendelete" %>
<asp:Content ID="Content1" ContentPlaceHolderID="PageTitle" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
</asp:Content>
